<!DOCTYPE html>
<html lang="pl">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title></title>
        <link rel="stylesheet" href="css/style.css">

    </head>

    <body>

        {% include "components/c-Nav-LIst.html" %}
        {% include "components/c-Hero.html" %}
        {% include "components/c-Image.html" %}
        {% include "components/c-YT-video.html" %}
        {% include "components/c-Video.html" %}
        {% include "components/c-Boxes.html" %}
        {% include "components/c-Form.html" %}
        {% include "components/c-Transforms.html" %}

        {% include "components/c-Footer.html" %}


        <script src="js/app.js" type="text/javascript"></script>

    </body>

</html>
