<div class="component boxes">
    <div class="wrapper">
        <h2>Category</h2>
        <div class="boxes_cont">
            <div class="box">
                <img src="img/zebra384.jpg" alt="Flaming" />
                <h3>Big lorem ipsum.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="box"><img src="img/los384.jpg" alt="Flaming" />
                <h3>Big lorem ipsum.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="box">
                <img src="img/koliber384.jpg" alt="Flaming" />
                <h3>Big lorem ipsum.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="box"><img src="img/tygrys384.jpg" alt="Flaming" />
                <h3>Big lorem ipsum.</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

        </div>

    </div>
</div>