<footer class="footer">
    <div class="wrapper">
        <div class="footer_col">
            <h4>Category 1</h4>
            <ul>
                <li>
                    <a href="#">Position 1</a>
                </li>
                <li>
                    <a href="#">Position 2</a>
                </li>
                <li>
                    <a href="#">Position 3</a>
                </li>
                <li>
                    <a href="#">Position 4</a>
                </li>
                <li>
                    <a href="#">Position 5</a>
                </li>
            </ul>
        </div>
        <div class="footer_col">
            <h4>Category 2</h4>
            <ul>
                <li>
                    <a href="#">Position 1</a>
                </li>
                <li>
                    <a href="#">Position 2</a>
                </li>
                <li>
                    <a href="#">Position 3</a>
                </li>
                <li>
                    <a href="#">Position 4</a>
                </li>
                <li>
                    <a href="#">Position 5</a>
                </li>
            </ul>
        </div>
        <div class="footer_col">
            <h4>Category 3</h4>
            <ul>
                <li>
                    <a href="#">Position 1</a>
                </li>
                <li>
                    <a href="#">Position 2</a>
                </li>
                <li>
                    <a href="#">Position 3</a>
                </li>
                <li>
                    <a href="#">Position 4</a>
                </li>
                <li>
                    <a href="#">Position 5</a>
                </li>
            </ul>
        </div>
        <div class="footer_col">
            <h4>Category 4</h4>
            <ul>
                <li>
                    <a href="#">Position 1</a>
                </li>
                <li>
                    <a href="#">Position 2</a>
                </li>
                <li>
                    <a href="#">Position 3</a>
                </li>
                <li>
                    <a href="#">Position 4</a>
                </li>
                <li>
                    <a href="#">Position 5</a>
                </li>
            </ul>
        </div>
        <p class="footer_disclaimer">
            © 2018 Front-End Development - Studia podyplomowe WI PB
        </p>
    </div>
</footer>
