<div class="component"></div><div class="image">
    <figure>
        <picture>
            <source media="(min-width:1280px)" srcset="img/flaming1920.jpg" />
            <source media="(min-width:768px)" srcset="img/flaming1536.jpg" />
            <source media="(orientation: portrait" srcset="img/flaming860-p.jpg" />
            <img src="img/flaming742.jpg" alt="Flaming" />
        </picture>
    </figure>
    <figcaption class="wrapper">
        <h3>Flaming chodzący po wodzie</h3>
        <p>Elegancki wygląd zawdzięcza smukłej sylwetce i stonowanemu ubarwieniu. Brak wyraźnego dymorfizmu płciowego,
            choć samce są nieco większe od samic. Upierzenie białe z różowawym nalotem (w niewoli jest często wyblakły),
            jaśniejsze niż u flaminga P. ruber, jedynie skrzydła czerwone z czarnymi lotkami (dobrze widoczne w locie).
            Nogi i dziób różowe, koniec charakterystycznie zagiętego dzioba jest czarny. W porównaniu z innymi
            przedstawicielami rodziny dziób wygięty pod mniejszym kątem. Esowato wygięta szyja, podobnie jak nogi, jest
            długa. Przednie palce u nóg ma spięte błoną pławną. W locie ma wyciągniętą szyję i nogi. Wydaje gdaczący i
            trąbiący dźwięk, przypominający odgłosy gęsi.
            Młode ptaki są szarobrązowe, a od spodu białawe.</p>
    </figcaption>
</div></div>