<nav>
    <div class="wrapper ">
        <div class="nav-Container">
            <img src="img/wild-things60.png" alt="logo" class="logo"/>
            <ul class="nav-list">
                <li>
                    <a href="#">CATEGORY 1</a>
                </li>
                <li>
                    <a href="#">CATEGORY 2</a>
                </li>
                <li>
                    <a href="#">CATEGORY 3</a>
                </li>
                <li>
                    <a href="#">CATEGORY 4</a>
                </li>
                <li>
                    <a href="#">CATEGORY 5</a>
                </li>
            </ul>
            <button class="menu-ham" data-js="navButton">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</nav>
