<div class="component video" data-video-cont>
    <div class="wrapper">
        <div class="video__cont" >
            <video width="320" height="176" data-video>
                <source src="img/mov_bbb.mp4" type="video/mp4">
                <source src="img/mov_bbb.ogg" type="video/ogg">
                Your browser doesn not support video tag.
            </video>
        </div>
        <div class="video-controls" >
            <button data-play>
                <i class="ficons flaticon-play" ></i>
            </button>
            <button data-pause>
                <i class="ficons flaticon-pause" ></i>
            </button>
            <div class="progress-bar" data-progress></div>
        </div>
    </div>
</div> 