.footer {
    &_col { //.footer_col
        width: 50%;
        float:left;
        margin-bottom: $space;
        padding-right: $base-unit;
        @include desktop {
            width: 25%;
        }
    }
    a {
        color: $color-5;
        font-size: $font-size-body-2;
        &:hover {
            color: $color-4;
        }
    }
    ul {
        li {
            margin-bottom: 0.5*$base-unit;
        }
    }
    &_disclaimer { //.footer_disclaimer
        color: $color-5;
        font-size: $font-size-body-2;
        clear:left;
    }
}
